@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto 3%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 50px;
}

.logo h1 {
  color: #cb333b;
}

.user p {
  text-transform: uppercase;
}

.user p span {
  color: blue;
  font-weight: 600;
}
