@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 50px;
}

.logo h1 {
  color: #cb333b;
  margin: 0;
}

.user p {
  text-transform: uppercase;
}

.user p span {
  color: blue;
  font-weight: 600;
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.home h3 {
  margin: 0;
  font-weight: 500;
}
.home > p {
  margin: 0;
  margin-top: 5px;
  font-size: 0.9rem;
  color: rgb(165, 165, 165);
}

.form-content {
  width: 60%;
}

.sub-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;

  padding: 5px 15px;
}

.gender-form {
  margin-top: 50px;
}

.action-area-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gender-class {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.gender-class img {
  width: 30px;
  border: 2px solid #2196f3;
  border-radius: 50%;
  padding: 2px;
}

.body-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.body-details input {
  width: 35px;
  padding: 15px;
  border: none;
  outline: none;
  background-color: lightgray;
  border-radius: 5px;
}

.body-details input:focus {
  border: 2px solid #007bff;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.custom-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #007bff;
  border-radius: 4px;
  margin-right: 5px;
  vertical-align: middle;
}

.custom-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-checkbox:checked + .custom-checkbox-label {
  color: #007bff;
}

.custom-checkbox:hover {
  cursor: pointer;
  border-color: #0056b3;
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.custom-radio {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

/* Style the radio buttons when checked */
.custom-radio:checked {
  background-color: #007bff;
  border-color: #007bff;
}

.custom-radio:checked + .custom-radio-label {
  color: #007bff;
}

.custom-radio:hover {
  border-color: #0056b3;
  cursor: pointer;
}

.submit-btn {
  padding: 8px 20px;
  border: none;
  outline: none;
  background-color: rgb(65, 172, 16);
  color: white;
  font-size: 1rem;
  border-radius: 50px;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: rgb(46, 121, 11);
  cursor: pointer;
}
